package health

import (
    "github.com/yzaimoglu/mitocho/templ/layout"
)

templ Show(name string) {
	<div>Hello dsd how are you fasfa dsadad dsad, { name }</div>
}

templ ShowIndex(title, description string, cmp templ.Component) {
    @layout.Base(title, description, true) {
        @cmp
    }
}